[submodule "plugins/sinch-claude-plugin/sinch-skills"]
	path = plugins/sinch-claude-plugin/sinch-skills
	url = https://gitlab.com/sinch/sinch-projects/enterprise-and-messaging/documentation/developer-experience/sinch-skills.git
