[submodule "plugins/sinch-claude-plugin/sinch-skills"]
	path = plugins/sinch-claude-plugin/sinch-skills
	url = ../../../../../enterprise-and-messaging/documentation/developer-experience/sinch-skills.git
